# Virtualenv
venv/

# VS Code files
.vscode/

# Python cache
**/__pycache__/

# OSX trahs
.DS_Store

# Firebase configurations
firebase.json

# Others
*.pyc

# Settings
configs.yml

.env
