[Unit]
Description=Stack Overgol Bot Service
After=network.target

[Service]
Type=idle
User=pi
ExecStart=/home/pi/stack-overgol/venv/bin/python3 /home/pi/stack-overgol/src/main.py
WorkingDirectory=/home/pi/stack-overgol/

[Install]
WantedBy=multi-user.target
